<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="${ctx}user/tradeuserlist.html" method="post">
        <input type="hidden" name="pageSize" value="${result.pageinfo.totalpage}">
        <input type="hidden" name="pageCurrent" value="${result.pageinfo.currpage}">
        <div class="bjui-searchBar">
            <label>关联机构:</label>
            <select id="tu_relationorgan" name="relationorgan"  style="width:150px;height:25px;" />
            <label>账号类型:</label>
            <select data-toggle="selectpicker" name="istryout" id="istryout">
                <option value="-10">全部</option>
                <option value="1">试用</option>
                <option value="0">正式</option>
            </select>&nbsp;
            <input id="loginid" name="loginid" value="${loginid!}" placeholder="用户名" >
            <input id="phone" name="phone" value="${phone!}" placeholder="手机号" >
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent">
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
                <th align="center">序号</th>
                <!-- <th align="center">用户编号</th> -->
                <th align="center">用户昵称</th>
                <th align="center">类型</th>
                <th align="center">关联机构</th>
                <th align="center">最近一次在线时间</th>
                <th align="center">最近一次在线终端</th>
                <th align="center">登录次数</th>
                <th align="center">实盘数量</th>
                <th align="center">股票池数量</th>
                <th align="center">筛选条件数量</th>
               <!--  <th align="center">交易订单数</th> -->
                <!-- <th align="center">总消费额（元）</th>
                <th align="center">馒头币余额</th> -->
                <th align="center">使用频率最高的指标</th>
                <th align="center">使用频率最高的指标(次数)</th>
                <th align="center">操作</th>
            </tr>
        </thead>
        <tbody>
        	<#list result.list as uinfo>
            <tr>
                <td align="center">${uinfo_index+1+((result.pageinfo.currpage-1)*result.pageinfo.rowinpage)}</td>
               <!--  <td align="center">${uinfo["id"]?c}</td> -->
                <td align="center">${uinfo["nickname"]!}</td>
                <#if (uinfo.orgid)?? && (uinfo.orgid)! &gt; 0>
                	<td align="center"><font color="blue">机构版</font></td>
				<#else>
					<#if (uinfo.orgid)?? &&(uinfo.orgid)! == -1>
					<td align="center"><font color="green">个人版</font></td>
					<#else>
					<td align="center"><font color="green">个人版(机构到期)</font></td>
					</#if>
				</#if>
				
                <#if (uinfo.orgid)?? && (uinfo.orgid)! &gt; 0>
                	<td align="center">${uinfo["organname"]!}</td>
                <#elseif (uinfo.orgid)?? &&(uinfo.orgid)! &lt; 0>
				  	<td></td>
				<#else>
					<td align="center">-</td>
				</#if>
                <td align="center">${(uinfo["lastlogintime"]?string("yyyy-MM-dd HH:mm:ss"))!}</td>
                <td align="center">${uinfo["channel"]!}</td>
                <td align="center">${uinfo["loginnum"]!"0"}次</td>
                <td align="center">${uinfo["rtstocknum"]!}</td>
                <td align="center">${uinfo["poolnum"]!}</td>
                <td align="center">${uinfo["conditionnum"]!}</td>
               <!--<td align="center">${uinfo["ordernum"]!}</td>
                <td align="center">${(uinfo["consumption"])!}</td>
                <td align="center">${uinfo["balance"]!}</td> -->
                <td align="center">${uinfo["indexname"]!}  </td>
                <td align="center">${uinfo["indexcounter"]!"0"}次</td>
                <td align="center">
                	<button type="button" class="btn-green" onclick='sendmsg(${uinfo["id"]?c})'>发消息</button>&nbsp;
                	<#if (uinfo.freeze == 1) >
	                	<button type="button" class="btn-blue" onclick='unfreezeuser(${uinfo["id"]?c})'>解冻</button>
				    <#else>  
	                	<button type="button" class="btn-blue" onclick='freezeuser(${uinfo["id"]?c})'>冻结</button>
				    </#if>
                	&nbsp;
                	<button type="button" class="btn-orange" onclick='deluser(${uinfo["id"]?c})'>删除</button>
                </td>
            </tr>
            </#list>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>&nbsp;共 ${result.pageinfo.totalrow} 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="${result.pageinfo.totalrow}" data-page-size="${result.pageinfo.rowinpage}" 
    data-page-current="${result.pageinfo.currpage}">
    </div>
</div>
<script>

	$("#istryout").val("${(istryout)!}");
	
	turelationorganlist();
	
	function turelationorganlist(){
		var posturl='${ctx}organcode/relationorganlist';
		$.ajax( {
			url : posturl,
			type : "POST",
			dataType : "json",
			success : function(data){
				var str = "<option name ='relationorgan' value='0'>全部</option>";
				jQuery.each(data.indexnamelist, function(i,item){  
					
				   if('${(relationorgan?c)!}' == item.organid){
					   str += "<option name ='relationorgan' value='"+item.organid+"' selected='selected'>"+item.organname+"</option>";
				   }else{
					   str += "<option name ='relationorgan' value='"+item.organid+"'>"+item.organname+"</option>";
				   }
					
	            }); 
				$("#tu_relationorgan").append(str);
			}
		});
	}

	setTimeout(function(){
		$("#orgid").selectpicker('val', '${orgid!}');
		$("#istryout").selectpicker('val', '${istryout!}');
		$("#logintype").selectpicker('val', '${logintype!}');
		$("#phone").selectpicker('val', '${phone!}');
		$("#loginid").selectpicker('val', '${loginid!}');
	},200);
	
	function refreshData(){
		$("#pagerForm").submit();
	};
	function deluser(userid){
		var posturl="${ctx}user/deleteuser";
		var postdata={userid:userid};
		if (confirm("确认删除吗?")) {
			$.ajax({
				type : "POST",
				url : posturl,
				data : postdata,
				contentType: "application/x-www-form-urlencoded; charset=utf-8", 
				dataType : "json",
				success : function(rtndata) {
					if (rtndata.success == 1) {
						$("body").alertmsg('info', "删除成功",{displayMode:'slide', displayPosition:'middlecenter', okName:'Yes', cancelName:'no', title:'提示'})
						refreshData();
					}else{
						$("body").alertmsg('info', "删除失败,请联系管理员",{displayMode:'slide', displayPosition:'middlecenter', okName:'Yes', cancelName:'no', title:'提示'})
					}
				}
			}) 
		}
	};
	function freezeuser(userid){
		var posturl="${ctx}user/freezeuser";
		var postdata={userid:userid};
		
		$("body").alertmsg('confirm', '确认冻结吗?', {
			okCall : function() {
				$.ajax({
					type : "POST",
					url : posturl,
					data : postdata,
					contentType: "application/x-www-form-urlencoded; charset=utf-8", 
					dataType : "json",
					success : function(rtndata) {
						if (rtndata.success == 1) {
							$("body").alertmsg('info', "冻结成功",{displayMode:'slide', displayPosition:'middlecenter', okName:'Yes', cancelName:'no', title:'提示'})
							refreshData();
						}else{
							$("body").alertmsg('info', "冻结失败,请联系管理员",{displayMode:'slide', displayPosition:'middlecenter', okName:'Yes', cancelName:'no', title:'提示'})
						}
					}
				}) 
			}
		})
		
	};
	function unfreezeuser(userid){
		var posturl="${ctx}user/unfreezeuser";
		var postdata={userid:userid};
		$("body").alertmsg('confirm', '确认解冻吗?', {
			okCall : function() {
				$.ajax({
					type : "POST",
					url : posturl,
					data : postdata,
					contentType: "application/x-www-form-urlencoded; charset=utf-8", 
					dataType : "json",
					success : function(rtndata) {
						if (rtndata.success == 1) {
							$("body").alertmsg('info', "解冻成功",{displayMode:'slide', displayPosition:'middlecenter', okName:'Yes', cancelName:'no', title:'提示'})
							refreshData();
						}else{
							$("body").alertmsg('info', "解结失败,请联系管理员",{displayMode:'slide', displayPosition:'middlecenter', okName:'Yes', cancelName:'no', title:'提示'})
						}
					}
				}) 
			}
		})
		
	};
	function sendmsg(userid){
		/* var str = window.prompt("请输入发送内容","");
		if(str){
			send(userid,str);
		} */
		
		$("body").alertmsg('confirm', '是否选择消息模板？(如取消则按自定义消息进行发送)',
		{
			okCall : function() {
				$("body").dialog({id:'tradeuser_template', width:935, height:560, url:'${ctx}user/seltemplatetrade.html?userid='+userid, title:'选择消息模板'});
			},
			cancelCall : function() {
				$("body").dialog({id:'tradeuser_custom', width:935, height:460, url:'${ctx}user/selcustomtrade.html?userid='+userid, title:'自定义消息'});
			}
		})
		
	}
	/* function send(userid,msg){
		var posturl="${ctx}user/sendmsg";
		var postdata={userid:userid,msg:msg};
		$.ajax({
			type : "POST",
			url : posturl,
			data : postdata,
			contentType: "application/x-www-form-urlencoded; charset=utf-8", 
			dataType : "json",
			success : function(rtndata) {
				if (rtndata.success == 1) {
					$("body").alertmsg('info', "发送成功",{displayMode:'slide', displayPosition:'middlecenter', okName:'Yes', cancelName:'no', title:'提示'})
				}else{
					$("body").alertmsg('info', "发送失败,请联系管理员",{displayMode:'slide', displayPosition:'middlecenter', okName:'Yes', cancelName:'no', title:'提示'})
				}
			}
		}) 
	}; */
	
</script>